# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
health-check

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Goland IDE
.idea

# the health check report
report.html


# go modules
go.sum